*{
    margin: 0;
    padding: 0;
}

header{
    background-image: url(sea.jpg);
    background-size:cover;
    height: 100vh;
}

h1{
    text-align: center;
    font-size: 120px;
    line-height: 100vh;
    color:#000000;
}