* {
    margin: 0;
    width: 100%;
}

body {
    width: 100%;
    background: #fff url(bg.jpg) 0 0 no-repeat;
    background-size: cover;
}

h1 {
    margin-top: 20px;
    font-size: 50px;
    color: #19658d;
    text-align: center;
    font-family: 'Comfortaa', cursive;
}

.name {
    width: 700px;
    margin: 0px auto;
}

img{
    width: 300px;
    margin-top: 20px;
    float: left;
}

.text{
    width: 300px;
    float: left;
}